@CHARSET "ISO-8859-1";
* {
	margin:0px;
	padding:0px;
}
h1{
	text-align: center;
	margin: 0px auto;
	color:rgb(250, 0, 0);
	font-size:50px;
	border-radius: 5px;
	position: absolute;
	top: 0;
}

main {
    display: flex;
	justify-content: center;
	left: 20%;
  }
  
  .login {
	    max-width: 150%;
		width: 500px;
		height: 450px;
		position: relative;
		top: 10%;
		right: 50%;
		margin: -184px 0px 0px -155px;
		background: rgba(0,0,0,0.5);
		padding: 20px 30px;
		border-radius: 5px;
		box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
	  
  }
  
  tr:nth-child(odd) {
	background-color: rgba(250, 237, 53, 0.808);
	color: rgb(0, 0, 0);
  }
  tr:nth-child(even) {
	background-color: rgba(115, 250, 53, 0.808);
	color: rgb(48, 13, 13);
  }
  
  th {
    background-color: rgb(14, 222, 236);
    color: rgb(48, 13, 13);
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5em 1em;
  } 
		{
			position: relative;
			width: 100%;
			height: 600%;
		}
		.container .box
		{
			position: relative;
			width: 100%;
			height: 300px;
			display: flex;
			justify-content: last baseline;
			align-items:left;
			top: 170px;
		}
		.container .box .image
		{
			position: relative;
			

        }
        .container .box .image img
		{
			position: relative;
            width: 300px;
            top: 10%;
            right: 150%;

		}
.main_div{
	text-align:center;
	color:#804000;
	font-size:-120px;
	margin-top:-120px;
	position:top;
	font-style: italic;
	
}

body{

padding:200px;
padding-left:550px;
padding-right:550px;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #e7e7e7;
   
}





.contenido {
	width:100%;
	height:200px;
}
.backgroundslider {
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:-1;
}
.backgroundslider li {
	position:absolute;
	width:100%;
	height:100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	opacity:0;
	animation:imagenes 18s linear infinite;
	-moz-animation:imagenes 18s linear infinite;
	-ms-animation:imagenes 18s linear infinite;
	-o-animation:imagenes 18s linear infinite;
	-webkit-animation:imagenes 18s linear infinite;
}
.backgroundslider li:nth-child(1) {
	background-image:url(images/SNALE.jpeg);
}
.backgroundslider li:nth-child(2) {
	background-image:url(images/TETRIS.jpeg);
	animation-delay:6s;
	-moz-animation-delay:6s;
	-ms-animation-delay:6s;
	-o-animation-delay:6s;
	-webkit-animation-delay:6s;
}
.backgroundslider li:nth-child(3) {
	background-image:url(images/TICTAC.jpeg);
	animation-delay:12s;
	-moz-animation-delay:12s;
	-ms-animation-delay:12s;
	-o-animation-delay:12s;
	-webkit-animation-delay:12s;
}
@keyframes imagenes {
	0% { opacity:0; animation-timing-function:ease-in; }
	10% { opacity:1; animation-timing-function:ease-out; }
	25% { opacity:1; transform:scale(1); }
	50% { opacity:0; transform:scale(2) rotate(20deg); }
	100% { opacity:0; }
}
@-moz-keyframes imagenes {
	0% { opacity:0; animation-timing-function:ease-in; }
	10% { opacity:1; animation-timing-function:ease-out; }
	25% { opacity:1; transform:scale(1); }
	50% { opacity:0; transform:scale(2) rotate(20deg); }
	100% { opacity:0; }
}
@-o-keyframes imagenes {
	0% { opacity:0; animation-timing-function:ease-in; }
	10% { opacity:1; animation-timing-function:ease-out; }
	25% { opacity:1; transform:scale(1); }
	50% { opacity:0; transform:scale(2) rotate(20deg); }
	100% { opacity:0; }
}
@-ms-keyframes imagenes {
	0% { opacity:0; animation-timing-function:ease-in; }
	10% { opacity:1; animation-timing-function:ease-out; }
	25% { opacity:1; transform:scale(1); }
	50% { opacity:0; transform:scale(2) rotate(20deg); }
	100% { opacity:0; }
}
@-webkit-keyframes imagenes {
	0% { opacity:0; animation-timing-function:ease-in; }
	10% { opacity:1; animation-timing-function:ease-out; }
	25% { opacity:1; transform:scale(1); }
	50% { opacity:0; transform:scale(2) rotate(20deg); }
	100% { opacity:0; }
}

}
	

