<!DOCTYPE html>
<head>
<meta charset="ISO-8859-1">
<title>play in one gaming website</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hs-snake.css') }}">

</head>
<body>

	<div class="main_div">

  <h1><font size="70" color="#804000">Play In One</font></h1>	

	<h2>Score Board</h2><br>
  </div>
  
<div class="contenido">	
    <div class="container">
    <div class="box">
        <div class="image">
            <img src="images/Play In One.png">
        </div>	

<div class="form">
<ul class="backgroundslider">
	<li></li>
	<li></li>
	<li></li>
  </ul>
  
<form action="login.py" method="POST">
<div>
  
<form action="#">
  
    <main>
      
	<table class="login">
    
        <tr>
          <th>Rank</th>
          <th>Player name</th>
          <th>Date</th>
          <th>Score</th>
        </tr>
       
        <tr>
          <td>1</td>
          <td>somiya</td>
          <td>20/2/2020</td>
          <td>100</td>
        </tr>
        <tr>
          <td>2</td>
          <td>tasnim</td>
          <td>12/3/2020</td>
          <td>90</td>
        </tr>
        <tr>
          <td>3</td>
          <td>ramin</td>
          <td>12/5/</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        
      </table>
      <div class="btn-btn4"><a href="/choose.html">Back</a></div>
      
    </main>
   

</form>

</div>
</div>

</div>
	
</body>
</html>
