<!DOCTYPE html>
<head>
<meta charset="ISO-8859-1">
<title>play in one gaming website</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/insysnake.css') }}">

</head>
<body>

	<div class="main_div">

	  	<h4><font size="50" color="#804000">Play In One</font></h4>	
	  	
	  	</div>
<div class="contenido">	
    <div class="container">
    <div class="box">
        <div class="image">
            <img src=image:url(images/TETRIS.jpeg);>
        </div>	

<div class="login">
<ul class="backgroundslider">
	<li></li>
	<li></li>
	<li></li>
	</ul>
<form action="welcome.php" method="POST">

<h1>Instruction for Snake It</h1><br>
<p>The goal is to make as many points as possible by making the snake eat stuff that shows up. The more you eat the longer will the snake grow. If the snake collides with itself the game ends.</p>
<div class="btn-btn4"><a href="/back">Back</a></div>
<div class="container" style="margin-top:150px;text-align:center;font-style:italic" color="#8000ff">
<p><font size="4"></font></p>
</div>

</form>

</div>

</div>
	
</body>
</html>
