<!DOCTYPE html>
<head>
<meta charset="ISO-8859-1">
<title>play in one gaming website</title>

</head>
<body>

	<div class="main_div">

	  	<h4><font size="15" color="#804000">Luv U Buy</font></h4>	
	  	
	  	</div>
<div class="contenido">		

<div class="login">
<ul class="backgroundslider">
	<li></li>
	<li></li>
	<li></li>
	</ul>
<form action="welcome.php" method="POST">

<h1>Login form</h1><br>
<input type="username" name="username" id="username" placeholder="Username" required><br><br>
<input type="password" name="password" id="password" placeholder="Password" required><br><br>
<input type="submit" name="submit" id="submit"><br><br>
<a href="regat1.html"><font size="4" color="#F8F8FF">New User Register</a><br>

<div class="container" style="margin-top:150px;text-align:center;font-style:italic" color="#8000ff">
<p><font size="4">&copy;Design by KAMRAN ALAM</font></p>
</div>

</form>

</div>

</div>
	
</body>
</html>