<!DOCTYPE html>
<head>
<meta charset="ISO-8859-1">
<title>play in one gaming website</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginluv.css') }}">

</head>
<body>

	<div class="main_div">

	<h4><font size="50" color="#804000">Play In One</font></h4>	
	
	</div>
<div class="contenido">	
    <div class="container">
    <div class="box">
        <div class="image">
            <img src="static\css\image\play in">
        </div>	

<div class="form">
<ul class="backgroundslider">
	<li></li>
	<li></li>
	<li></li>
	</ul>
<form method="post" action="/login_validation">

<h1>Login form</h1><br>
<form action="#">
	<div class="field">
		<label>Email Address</label>
	<input type="email" name="email" required>
	</div>
<div class="field">
	<label>Password</label>
	  <input type="password" name="password" required>
	</div>
<div class="content">
	  <div class="checkbox">
		<input type="checkbox" id="remember-me">
		<label for="remember-me">Remember me</label>
	  </div>
<div class="pass-link">
<a href="/fpass.html">Forgot password?</a></div>
</div>
<div class="submit-btn">
	<a href="/choose">Submit</a>
	
	</div>

<div class="signup-link">
</br>
</br>
</br>
<font size="4"></font> Not a member?  <a href="/register">Signup now</a></div>
</form>
</div>
<div class="container" style="margin-top:150px;text-align:center;font-style:italic" color="#8000ff">
<p><font size="4"></font></p>
</div>

</form>

</div>

</div>
	
</body>
</html>
